<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    <header>
        <h1>Welcome to Chittis: Brain Tumor Detection</h1>
    </header>

    <nav>
        <ul>
            <li><a href="\index.html">Home</a></li>
            <li><a href="\detection.html">Brain Tumor Detection</a></li>
            <li><a href="\brain_tumor_page.html">All About Brain Tumors</a></li>
            <li><a href="\map.html">Find Nearby Hospitals</a></li>
        </ul>
    </nav>
    <h1>Something went wrong. Please try again.</h1>
    <footer>
        <p>&copy; 2023 Chittis: Brain Tumor Detection. All rights reserved.</p>
    </footer>
</body>
</html>