<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chittis: Brain Tumor Detection</title>
    <link href="styles.css" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Welcome to Chittis: Brain Tumor Detection</h1>
    </header>

    <nav>
        <ul>
            <li><a href="\index.html">Home</a></li>
            <li><a href="\detection.html">Brain Tumor Detection</a></li>
            <li><a href="\brain_tumor_page.html">All About Brain Tumors</a></li>
            <li><a href="\map.html">Find Nearby Hospitals</a></li>
        </ul>
    </nav>

    <main>
        <h2>About Chittis: Brain Tumor Detection</h2>
        <p>
            Chittis: Brain Tumor Detection is dedicated to providing information and resources related to brain tumors.
            We aim to raise awareness, offer guidance on brain tumor detection, and support patients and their families
            on their journey.
        </p>

        <h2>Brain Tumor Detection</h2>
        <p>
            Our brain tumor detection page provides important information about early detection, symptoms, and what to
            expect during the diagnostic process. It's crucial to catch brain tumors early for the best treatment
            outcomes.
        </p>

        <h2>All About Brain Tumors</h2>
        <p>
            On our page dedicated to brain tumors, you'll find in-depth information about various types of brain tumors,
            treatment options, research, and support resources. Knowledge empowers you in your fight against brain
            tumors.
        </p>

        <h2>Find Nearby Hospitals</h2>
        <p>
            Use our interactive map to locate hospitals near you that specialize in brain tumor treatment. Quick access
            to expert medical care is essential for managing brain tumors effectively.
        </p>

        <!-- Redirect to the \detection.html page after a delay -->
        <script>
            setTimeout(function () {
                window.location.href = "/detection.html";
            }, 3000); // 3 seconds delay before redirecting
        </script>
    </main>

    <footer>
        <p>&copy; 2023 Chittis: Brain Tumor Detection. All rights reserved.</p>
    </footer>
</body>

</html>
